<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChangePassword</title>
</head>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://www.gongjuji.net/Content/files/jquery.md5.js"></script>
<script>
    function upChange() {
        $.ajax({
            type: "Post",
            url: "",
            data: {
                csrfmiddlewaretoken:'{{ csrf_token }}',
                oldpassword: $.md5($("#oldPassword").val()),
                newpassword: $.md5($("#newPassword").val()),
                vcode:$("#vcode").val()
            },
            success: function (dates) {
                if(dates == 'ok') {
                    alert(dates)
                }
                else {
                    alert(dates);
                }
            },
            error: function (data) {
                alert(data);
            }
        });
    }
    function email() {
        if(checkPassword() == false){
            alert("两次新密码输入不同，请重新输入");
            return;
        }
        $.ajax({
            type: "Post",
            url: "",
            data: {
                csrfmiddlewaretoken:'{{ csrf_token }}',
                sendEmail:true,
            },
            success: function (dates) {
                document.getElementById("vcode").disabled = false;
                document.getElementById("submit").disabled = false;
                document.getElementById("verify").innerText = "重新发送";
                for(let i = 0;i<60;i++){
                    setTimeout(function () {
                        document.getElementById("verify").innerHTML = "重新发送("+(60-i).toString()+')';
                    },i*1000);
                }
                setTimeout(function () {
                    document.getElementById("verify").innerHTML = "重新发送";
                },61*1000);
            },
            error: function () {
                console.log("验证失败");
            }
        });
    }
    function checkPassword() {
        pass1 = $("#newPassword").val();
        pass2 = $("#newPasswordAgain").val();
        return pass1 == pass2;
    }
</script>
<body>
<form action="" method="post">
旧密码<input type="password" id="oldPassword" name="oldPassword">
新密码<input type="password" id="newPassword" name="newPassword">
再次输入新密码<input type="password" id="newPasswordAgain" name="newPasswordAgain">
验证码<input type="text" disabled="True" name="vcode" id="vcode">
</form>
<button id="verify" onclick="email()">获取验证码</button>
<button disabled="True" id="submit" onclick="upChange()">提交</button>
</body>
</html>