<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</head>

<script>
    var ttt;
    var oldlen = 0;
    var ctx = false;
    var historydata = {};
    function f() {
        if (ctx == false) {
            ctx = getCTX();
        }
        xhr = new XMLHttpRequest();
        xhr.multipart = true;
        xhr.open('Post', "/monitor/recordInfo/");
        let recordnode = document.getElementById('record');
        let recordelement = '';
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 3) {
                console.log(oldlen);
                ans = xhr.responseText.substring(oldlen, );
                console.log(ans);
                let jsoned = JSON.parse(ans);
                if (jsoned['info']) {
                    recordelement = document.createElement('li');
                    recordelement.innerHTML = (new Date()).toLocaleString() + jsoned['info'];
                    recordnode.insertBefore(recordelement, recordnode.childNodes[0]);
                }
                let nowdata = {};
                for (k in jsoned['names']) {
                    let thisname = jsoned['names'][k];
                    if (thisname === 'unknown') {
                        continue;
                    }
                    let locationinfo = jsoned['locations'][k];
                    nowdata[thisname] = {'x': (locationinfo[1] + locationinfo[3]) / 2, 'y': (locationinfo[0] + locationinfo[2]) / 2}
                    if (thisname in historydata) {
                        draw_line(ctx, historydata[thisname][historydata[thisname].length - 1], nowdata[thisname])
                        draw_point(ctx, nowdata[thisname]);
                        historydata[thisname].push(nowdata[thisname]);
                        while (historydata[thisname].length > 20) {
                            historydata[thisname].splice(0, 1);
                        }
                    }
                    else {
                        historydata[thisname] = [nowdata[thisname]];
                        draw_point(ctx, nowdata[thisname]);
                    }
                }
                for (m in historydata) {
                    if (jsoned['names'].indexOf(m) < 0) {
                        delete historydata[m];
                    }
                }
                // Draw canvas
                {#var temp = draw_point({'x': 5, 'y': 6});#}
                oldlen = xhr.responseText.length;
                if (oldlen > 1024 * 1024 * 128) {
                    xhr.abort();
                    ttt = true;
                }
            }
        };
        xhr.send(null);
    }
    function getCTX() {
        let c=document.getElementById("canvas");
        let ctx=c.getContext("2d");
        ctx.clearRect(0,0,c.width,c.height);
        ctx.fillStyle="#0000FF";
        return ctx;
    }
    function draw_point(ctx, point) {
        ctx.fillRect(point.x-5,point.y-5,10,10);
    }
    function draw_path(path){
        //开始新路径的绘制
        ctx.beginPath();
        //设置颜色
        //如果颜色需要变更，必须先开始新的路径，否则全部的线颜色由最后一次设置的颜色决定
        ctx.strokeStyle="#0000FF";
        for(var i=0;i<path.length-1;i++){
            draw_line(ctx,points[path[i]],points[path[i+1]]);
        }
    }
    function draw_line(ctx,a,b){
        ctx.moveTo(a.x,a.y);
        ctx.lineTo(b.x,b.y);
        ctx.stroke();
    }

    setInterval(function () {
        if (ttt) {
            ttt = false;
            delete xhr;
            xhr = null;
            oldlen = 0;
            f();
        }
    }, 20)
</script>
<body onload="f()">
    <h1>监控：</h1>
    <img src="/monitor/list" width="640" height="480"/>
    <canvas id="canvas" width="640" height="480"></canvas>
    <h2>警示记录：</h2>
    <div style="height: 100px; width: 500px; overflow: scroll;">
        <ul id="record"></ul>
    </div>
</body>
</html>
